@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .app-footer {
    height: 35px;

    .footer-right {
      img {
        width: 26px;
        height: 26px;
      }
    }
  }

  .footer-toggle-btn {
    bottom: 0;
    width: 50px;
    height: 20px;
    right: 70px;
    font-size: 14px;
  }

  .footer-toggle-btn {
    position: fixed;
    right: 70px;
    width: 50px;
    height: 20px;
    font-size: 14px;

    &.collapsed {
      bottom: 0;
    }

    &.expanded {
      bottom: 35px;
    }
  }
}
