@use "../../../shared/animations/canvas-border.animation.scss";

.math-canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background: white;
    box-shadow: 0 0 10px 2px white, 0 0 20px 4px rgba(255, 255, 255, 0.8);
    z-index: 40;
    transform: translateY(7.5px);
  }

  &::before {
    animation: first-line-animation 5s linear infinite;
  }

  &::after {
    animation: second-line-animation 5s linear infinite;
  }

  canvas {
    width: 50vw;
    height: 50vh;
    border: 2px solid transparent;
    margin-top: 20px;
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, #c0c0c0 1px, transparent 1px),
      linear-gradient(to bottom, #c0c0c0 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 30;

    &.blurred {
      filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.8);
      pointer-events: none;
    }

    &.preview-canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 35;
      pointer-events: none;
      background: transparent;
    }
  }

  .scale-controls {
    position: absolute;
    top: 30px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    z-index: 40;

    button {
      background-color: #444;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #666;
      }

      &:disabled {
        background-color: #888;
        cursor: not-allowed;
      }
    }

    .scale-value {
      color: black;
      width: 80px;
      margin: 0 5px;
      font-weight: bold;
      text-align: center;
    }

    &.disabled {
      visibility: hidden;
    }
  }
}
