<div class="math-canvas-container">
  <div #mathDiv [class.blurred]="!selectedSubject" class="canvas">
    <div class="katex-wrapper"></div>
  </div>

  <div class="tool-buttons" [class.disabled]="!selectedSubject">
    <div class="button-wrapper">
      <button
        (click)="toggleWindow('special')"
        class="special-chars-btn"
        [class.active]="isSpecialWindowVisible"
      ></button>
    </div>

    <div class="button-wrapper">
      <button
        (click)="toggleWindow('functional')"
        class="functional-btn"
        [class.active]="isFunctionalWindowVisible"
      ></button>
    </div>

    <div class="button-wrapper">
      <button
        (click)="toggleWindow('input')"
        class="input-btn"
        [class.active]="isInputWindowVisible"
      ></button>
    </div>

    <div class="button-wrapper">
      <button (click)="onClearCanvas()" class="clear-btn"></button>
    </div>
  </div>

  <div class="button-window" *ngIf="isSpecialWindowVisible">
    <div class="button-row" *ngFor="let row of specialWindowRows">
      <button
        *ngFor="let btn of row"
        class="dynamic-button"
        (click)="onWindowButtonClick(btn)"
      >
        {{ btn.label }}
      </button>
    </div>
  </div>

  <div class="button-window" *ngIf="isFunctionalWindowVisible">
    <div class="button-row" *ngFor="let row of functionalWindowRows">
      <ng-container *ngFor="let btn of row">
        <img
          *ngIf="btn.icon && btn.icon !== ''"
          class="dynamic-button"
          [src]="btn.icon"
          [alt]="btn.label"
          [title]="btn.label"
          (click)="onWindowButtonClick(btn)"
        />
        <button
          *ngIf="!btn.icon || btn.icon === ''"
          class="dynamic-button"
          (click)="onWindowButtonClick(btn)"
        >
          {{ btn.label }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="latex-input-window" *ngIf="isInputWindowVisible">
    <textarea
      class="latex-textarea"
      [(ngModel)]="latexInput"
      (input)="onLatexInputChange()"
      [readonly]="hasPlaceholders(latexTree)"
    ></textarea>
  </div>

  <div *ngIf="activePlaceholderEditMode" class="placeholder-edit-banner">
    {{ "CANVAS.EDIT_MODE.ALERT" | translate }}
    <button (click)="exitPlaceholderEditMode()">
      {{ "CANVAS.EDIT_MODE.EXIT" | translate }}
    </button>
  </div>
</div>
