<div class="math-canvas-container">
  <canvas
    #mathCanvas
    [class.blurred]="!selectedSubject"
    class="canvas"
  ></canvas>

  <div class="tool-buttons" [class.disabled]="!selectedSubject">
    <div class="button-wrapper">
      <button
        (click)="toggleWindow('special')"
        class="special-chars-btn"
      ></button>
    </div>

    <div class="button-wrapper">
      <button
        (click)="toggleWindow('functional')"
        class="functional-btn"
      ></button>
    </div>

    <div class="button-wrapper">
      <button (click)="toggleWindow('input')" class="input-btn"></button>
    </div>

    <div class="button-wrapper">
      <button (click)="onClearCanvas()" class="clear-btn"></button>
    </div>
  </div>

  <div class="button-window" *ngIf="isSpecialWindowVisible">
    <div class="button-row" *ngFor="let row of specialWindowRows">
      <button
        *ngFor="let btn of row"
        class="dynamic-button"
        (click)="onSpecialWindowButtonClick(btn.latex)"
      >
        {{ btn.label }}
      </button>
    </div>
  </div>

  <div class="button-window" *ngIf="isFunctionalWindowVisible">
    <div class="button-row" *ngFor="let row of functionalWindowRows">
      <ng-container *ngFor="let btn of row">
        <img
          *ngIf="btn.icon && btn.icon !== ''"
          class="dynamic-button"
          [src]="btn.icon"
          [alt]="btn.label"
          [title]="btn.label"
          (click)="onSpecialWindowButtonClick(btn.latex)"
        />
        <button
          *ngIf="!btn.icon || btn.icon === ''"
          class="dynamic-button"
          (click)="onSpecialWindowButtonClick(btn.latex)"
        >
          {{ btn.label }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="latex-input-window" *ngIf="isInputWindowVisible">
    <textarea class="latex-textarea"></textarea>
  </div>
</div>
