@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .tool-buttons {
    width: 34px !important;
    left: 10px;
    top: 33%;
    gap: 5px;

    button {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .button-window {
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 9px;

    .button-row {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      justify-content: flex-start;
    }

    .dynamic-button {
      width: 18px !important;
      height: 18px !important;
      font-size: 16px !important;
    }
  }

  .latex-input-window {
    width: 75% !important;
    max-width: 650px !important;
    height: 200px !important;
    padding: 8px !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

    .latex-textarea {
      font-size: 14px;
    }
  }

  .submit-task-btn {
    bottom: 10px;
    left: 10px;
  }
}
