@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .admin-error-logs-container {
    padding: 15px;
    min-height: 100vh;
  }

  .logs-table {
    width: 92%;
    max-width: 1350px;
    top: 120px;
    border-radius: 9px;
    box-shadow: 0 0 18px 5px rgba(189, 0, 214, 0.6);
  }

  .table-header {
    font-size: 14px;
    padding: 12px 40px 12px 0;

    .sort-arrow {
      right: 20px;
      font-size: 13px;
    }
  }

  .table-row {
    font-size: 14px;
  }

  .column {
    min-width: 140px;
    flex-basis: 220px;
    padding-right: 15px;
  }

  .pagination {
    bottom: 45px;
    gap: 9px;

    button {
      padding: 7px 11px;
      font-size: 15px;
    }

    .page-input {
      width: 32px;
      font-size: 15px;
    }

    .slash,
    .total-pages {
      font-size: 15px;
    }
  }

  .log-modal {
    max-width: 80%;
    padding: 12px;

    h4 {
      font-size: 12px;
      margin-bottom: 6px;
    }

    ul li {
      margin: 5px 0;
      font-size: 12px;
    }

    .modal-content {
      gap: 6px;
    }
  }

  button {
    padding: 9px;
    font-size: 15px;
  }
}
