@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .binary-animation-container {
    width: 260px;
    height: 260px;

    .binary-column {
      gap: 4px;

      .binary-bit {
        font-size: 13px;
        line-height: 18px;
      }
    }
  }
}
