@media screen and (max-width: 1366px) {
  .active-users-container {
    .title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .token-stats {
      gap: 12px;

      .token-block {
        padding: 12px;

        .count-title {
          font-size: 13px;
        }

        .count {
          font-size: 15px;
        }
      }
    }
  }
}
