@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .active-users-container {
    max-width: 530px;
    max-height: 290px;
    padding: 30px 25px 20px 25px;

    .title {
      font-size: 19px;
      margin-bottom: 18px;
    }

    .token-stats {
      gap: 14px;

      .token-block {
        padding: 14px;

        .count-title {
          font-size: 13.5px;
        }

        .count {
          font-size: 15.5px;
        }
      }
    }
  }
}
