@media screen and (min-width: 1921px) {
  .active-users-container {
    .title {
      font-size: 22px;
      margin-bottom: 25px;
    }

    .token-stats {
      gap: 18px;

      .token-block {
        padding: 18px;

        .count-title {
          font-size: 15px;
        }

        .count {
          font-size: 18px;
        }
      }
    }
  }
}
