.settings-container {
  margin-top: 20px;
  min-height: 400px;
  height: 745px;
  max-height: 745px;
  display: flex;
  flex-direction: column;
  gap: 0;
  scroll-behavior: smooth;

  .user-info {
    text-align: center;
    margin: 20px 0 20px 0;

    .user-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    h3 {
      margin-top: 5px;
    }
  }

  .settings-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      align-items: center;

      label {
        margin-bottom: 5px;
        font-size: 14px;
        text-align: left;
        width: 100%;
      }

      .avatar-upload-section {
        width: 100%;
        display: flex;
        flex-direction: column;

        .avatar-upload-row {
          display: flex;
          align-items: center;
          gap: 10px;

          .avatar-preview-container {
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.1);
            display: inline-block;
            position: relative;
          }

          .avatar-preview {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
          }

          .file-input {
            display: none;
          }

          .file-upload,
          .btn-clear {
            padding: 5px 10px;
            font-size: 14px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            text-align: center;
            transition: background-color 0.3s ease;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: #006bdd;
            }
          }

          .file-upload {
            margin-top: 5px;
          }

          .btn-clear {
            width: 120px;
            margin-top: 0;
          }
        }

        .btn-avatar-container {
          display: flex;
          align-items: center;

          .btn-upload {
            padding: 5px 10px;
            font-size: 14px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            flex: 1;
            transition: background-color 0.3s ease;
            margin-top: 10px;

            &:hover {
              background-color: #006bdd;
            }
          }
        }
      }

      .form-control {
        width: 100%;
        max-width: 580px;
        padding: 8px 10px;
        border-radius: 5px;
        border: 1px solid #444;
        background-color: #555;
        color: white;
      }
    }

    .error-text{
      color: #ff4c4c;
      font-size: 12px;
      margin-top: 4px;
      margin-bottom: 6px;
      width: 100%;
      text-align: left;
    }

    .error-input{
      border: 1px solid #ff4c4c !important;
    }

    .password-container{
      position: relative;
      width: 100%;

      .password-hint{
        position: absolute;
        top: 0;
        left: calc(100% + 10px);
        background: #1e1e2f;
        color: #ffffff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        min-width: 250px;
        font-size: 12px;
        z-index: 20;
        text-align: left;
        transform: translateY(-5%);

        ul{
          list-style: none;
          padding: 0;
          margin: 0;

          li{
            margin-bottom: 5px;
            color: #cccccc;

            &.valid{
              color: #00c853;
            }

            &.unvalid{
              color: #c80000;
            }
          }
        }

        .arrow{
          position: absolute;
          top: 15%;
          left: -5px;
          width: 10px;
          height: 10px;
          background: #1e1e2f;
          transform: rotate(45deg);
        }
      }

      .password-strength {
      display: flex;
      gap: 4px;
      margin-top: 6px;

        .strength-bar {
          flex: 1;
          height: 6px;
          background-color: #999;
          border-radius: 3px;

          &.red-bar {
            background-color: #e53935;
          }

          &.orange-bar {
            background-color: #fb8c00;
          }

          &.green-bar {
            background-color: #43a047;
          }
        }
      }
    }

    button {
      width: 100%;
      max-width: 600px;
      margin-top: 20px;
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      background-color: #007bff;
      border: none;
      color: white;
      text-align: center;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }
}
