@media screen and (min-width: 1921px) {
  .settings-container {
    height: 950px;
    max-height: 950px;

    .user-info {
      margin: 30px 0 30px 0;

      .user-avatar {
        width: 120px;
        height: 120px;
      }

      h3 {
        margin-top: 10px;
        font-size: 20px;
      }
    }

    .settings-form {
      max-width: 700px;
      padding: 30px;

      .form-group {
        margin-bottom: 25px;

        label {
          font-size: 16px;
        }

        .avatar-upload-section {
          .avatar-upload-row {
            gap: 15px;

            .avatar-preview {
              width: 60px;
              height: 60px;
            }

            .file-upload,
            .btn-clear {
              padding: 8px 14px;
              font-size: 16px;
            }

            .btn-clear {
              width: 140px;
            }
          }

          .btn-avatar-container {
            .btn-upload {
              padding: 8px 14px;
              font-size: 16px;
              margin-top: 12px;
            }
          }
        }

        .form-control {
          max-width: 680px;
          padding: 10px 14px;
          font-size: 16px;
        }
      }

      .error-text {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 8px;
      }

      .error-input {
        border: 1px solid #ff4c4c !important;
      }

      .password-container {
        position: relative;
        width: 100%;

        .password-hint {
          position: absolute;
          top: 0;
          left: calc(100% + 14px);
          background: #1e1e2f;
          color: #ffffff;
          padding: 14px;
          border-radius: 10px;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
          min-width: 300px;
          font-size: 14px;
          z-index: 20;
          transform: translateY(-5%);

          ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              margin-bottom: 7px;
              color: #cccccc;

              &.valid {
                color: #00c853;
              }

              &.unvalid {
                color: #c80000;
              }
            }
          }

          .arrow {
            position: absolute;
            top: 20%;
            left: -7px;
            width: 14px;
            height: 14px;
            background: #1e1e2f;
            transform: rotate(45deg);
          }
        }

        .password-strength {
          display: flex;
          gap: 6px;
          margin-top: 8px;

          .strength-bar {
            flex: 1;
            height: 8px;
            background-color: #999;
            border-radius: 4px;

            &.red-bar {
              background-color: #e53935;
            }

            &.orange-bar {
              background-color: #fb8c00;
            }

            &.green-bar {
              background-color: #43a047;
            }
          }
        }
      }

      button {
        max-width: 700px;
        padding: 12px;
        font-size: 18px;
      }
    }
  }
}
