<div class="settings-section">
  <div class="twofactor-selection">
    <ng-container *ngIf="twoFactorEnabled; else notEnabled">
      <div class="twofactor-enabled">
        <div class="twofactor-options">
          <div
            class="option-card"
            [class.active]="twoFactorMode === 'always'"
            (click)="selectMode('always')"
          >
            {{ "SETTINGS.2FA.MODE.ALWAYS" | translate }}
          </div>

          <div
            class="option-card"
            [class.active]="twoFactorMode === 'ip_only'"
            (click)="selectMode('ip_only')"
          >
            {{ "SETTINGS.2FA.MODE.IP_ONLY" | translate }}
          </div>
        </div>

        <div *ngIf="pendingModeChange" class="mode-verify">
          <input
            type="text"
            maxlength="6"
            [(ngModel)]="verificationCode"
            placeholder="{{ 'SETTINGS.2FA.ENTER_CODE' | translate }}"
          />
          <button class="verify-button" (click)="confirmModeChange()">
            {{ "SETTINGS.2FA.BUTTON.CONFIRM_MODE" | translate }}
          </button>
        </div>

        <button class="unbind-button" (click)="requestDisable2FA()">
          {{ "SETTINGS.2FA.BUTTON.DISABLE" | translate }}
        </button>

        <div *ngIf="pendingDisable" class="disable-verify">
          <input
            type="text"
            maxlength="6"
            [(ngModel)]="verificationCode"
            placeholder="{{ 'SETTINGS.2FA.ENTER_CODE' | translate }}"
          />
          <button class="verify-button" (click)="confirmDisable2FA()">
            {{ "SETTINGS.2FA.BUTTON.CONFIRM_DISABLE" | translate }}
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template #notEnabled>
      <ng-container *ngIf="!qrCode && !secret; else twoFactorSetup">
        <p>{{ "SETTINGS.2FA.NOT_ENABLED" | translate }}</p>
        <button class="bind-button" (click)="generate2FA()">
          {{ "SETTINGS.2FA.BUTTON.GENERATE" | translate }}
        </button>
      </ng-container>
    </ng-template>

    <ng-template #twoFactorSetup>
      <div class="twofactor-setup">
        <img [src]="'data:image/jpeg;base64,' + qrCode" alt="QR Code" />
        <div class="secret-box">{{ secret }}</div>

        <input
          type="text"
          maxlength="6"
          [(ngModel)]="verificationCode"
          placeholder="{{ 'SETTINGS.2FA.ENTER_CODE' | translate }}"
        />
        <button class="verify-button" (click)="verify2FA()">
          {{ "SETTINGS.2FA.BUTTON.VERIFY" | translate }}
        </button>
      </div>
    </ng-template>
  </div>
</div>
