@media screen and (min-width: 1921px) {
  .example-response {
    width: 420px;
    height: 420px;
    background-size: 24px 24px;
  }

  .draw-line {
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
  }

  .typewriter {
    font-size: 1.2rem;
  }
}
