@media screen and (max-width: 1366px) {
  .block-stats-container {
    .title {
      font-size: 18px;
    }

    .stats-table {
      th,
      td {
        padding: 8px;
        font-size: 13px;
      }
    }
  }
}
