@media screen and (min-width: 1921px) {
  .block-stats-container {
    max-width: 680px;
    height: 550px;
    max-height: 550px;
    padding: 40px 35px 30px 35px;

    .title {
      font-size: 22px;
    }

    .stats-table {
      th,
      td {
        padding: 12px;
        font-size: 15px;
      }
    }
  }
}
