@media screen and (min-width: 1921px) {
  .block-stats-container {
    .title {
      font-size: 22px;
    }

    .stats-table {
      th,
      td {
        padding: 12px;
        font-size: 15px;
      }
    }
  }
}
