<div class="admin-error-logs-container">
  <div class="logs-table">
    <div class="table-header">
      <div
        class="column"
        (click)="sortByColumn('id')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.ID'"
      >
        {{ "ADMIN.LOGS.ID" | translate | truncate : 10 }}
        <span *ngIf="sortColumn === 'id'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        *ngIf="showTimestamp"
        (click)="sortByColumn('timestamp')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.TIMESTAMP'"
      >
        {{ "ADMIN.LOGS.TIMESTAMP" | translate | truncate : 10 }}
        <span *ngIf="sortColumn === 'timestamp'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('message')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.MESSAGE'"
      >
        {{ "ADMIN.LOGS.MESSAGE" | translate | truncate : 10 }}
        <span *ngIf="sortColumn === 'message'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('stackTrace')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.STACKTRACE'"
      >
        {{ "ADMIN.LOGS.STACKTRACE" | translate | truncate : 10 }}
        <span *ngIf="sortColumn === 'stackTrace'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('endpoint')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.ENDPOINT'"
      >
        {{ "ADMIN.LOGS.ENDPOINT" | translate | truncate : 10 }}
        <span *ngIf="sortColumn === 'endpoint'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('exceptionDetails')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.EXDETAILS'"
      >
        {{ "ADMIN.LOGS.EXCEPTIONDETAILS" | translate | truncate : 10 }}
        <span *ngIf="sortColumn === 'exceptionDetails'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
    </div>
    <div class="table-body">
      <div
        class="table-row"
        *ngFor="let log of paginatedLogs"
        (click)="openLogDetails(log)"
      >
        <div class="column">{{ log.id }}</div>
        <div class="column" *ngIf="showTimestamp">
          {{ log.timestamp | date : "dd.MM.yyyy HH:mm:ss" }}
        </div>
        <div class="column">
          {{
            log.message.length > 8
              ? log.message.slice(0, 8) + "..."
              : log.message
          }}
        </div>
        <div class="column">
          {{
            log.stackTrace.length > 12
              ? log.stackTrace.slice(0, 12) + "..."
              : log.stackTrace
          }}
        </div>
        <div class="column">
          {{
            log.endpoint.length > 8
              ? log.endpoint.slice(0, 8) + "..."
              : log.endpoint
          }}
        </div>
        <div class="column">
          {{
            log.exceptionDetails.length > 8
              ? log.exceptionDetails.slice(0, 8) + "..."
              : log.exceptionDetails
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button *ngIf="currentPage !== 1" (click)="goToPage(1)">««</button>
    <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>

    <input
      type="number"
      class="page-input"
      [(ngModel)]="pageInput"
      (change)="goToPage(pageInput)"
      [min]="1"
      [max]="totalPages"
    />
    <span class="slash">/</span>
    <span class="total-pages">{{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      »
    </button>
    <button *ngIf="currentPage !== totalPages" (click)="goToPage(totalPages)">
      »»
    </button>
  </div>

  <div *ngIf="selectedLog" class="log-modal">
    <div class="modal-content">
      <h3>{{ "ADMIN.LOGS.DETAILS.TITLE" | translate }}</h3>
      <p>
        <strong>{{ "ADMIN.LOGS.ID" | translate }}:</strong>
        {{ selectedLog.id }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.TIMESTAMP" | translate }}:</strong>
        {{ selectedLog.timestamp | date : "dd.MM.yyyy HH:mm:ss" }}
      </p>

      <p>
        <strong>{{ "ADMIN.LOGS.MESSAGE" | translate }}:</strong>
        {{
          selectedLog.message.length > 200
            ? selectedLog.message.slice(0, 200) + "..."
            : selectedLog.message
        }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.STACKTRACE" | translate }}:</strong>
        {{
          selectedLog.stackTrace.length > 300
            ? selectedLog.stackTrace.slice(0, 300) + "..."
            : selectedLog.stackTrace
        }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.ENDPOINT" | translate }}:</strong>
        {{ selectedLog.endpoint }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.EXCEPTIONDETAILS" | translate }}:</strong>
        {{
          selectedLog.exceptionDetails.length > 300
            ? selectedLog.exceptionDetails.slice(0, 300) + "..."
            : selectedLog.exceptionDetails
        }}
      </p>

      <button (click)="closeLogDetails()">
        {{ "ADMIN.TOKENS.DETAILS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>
