@media screen and (min-width: 1921px) {
  .confirm-wrapper {
    height: 100dvh;
    padding: 2rem;
  }

  .confirm-box {
    padding: 2rem;
    border-radius: 1rem;
    max-width: 500px;
    width: 80%;
    border: 2px solid #b026ff;
    box-shadow: 0 0 10px #b026ff, 0 0 20px #b026ff, 0 0 30px #b026ff;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px #b026ff, 0 0 10px #b026ff;
  }

  p {
    font-size: 1.2rem;
  }

  .spinner {
    width: 20px;
    height: 20px;
    border-width: 4px;
  }
}
