@media screen and (max-width: 1366px) {
  .spinner {
    width: 45px;
    height: 45px;
    border: 6px solid transparent;
    border-top: 6px solid #c444ff;
  }

  .loading-message {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .subject-change {
    top: 60px;
    left: 5px;
    width: 120px;

    select {
      padding: 8px;
      font-size: 14px;
    }

    &::after {
      right: 8px;
      font-size: 12px;
    }
  }

  .subject-controls {
    gap: 8px;

    button {
      height: 50px;
      width: 200px;
      font-size: 22px;
    }
  }
}
