@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .spinner {
    width: 50px;
    height: 50px;
    border: 7px solid transparent;
    border-top: 7px solid #c444ff;
  }

  .loading-message {
    font-size: 1.05rem;
    padding: 0.6rem 1.2rem;
  }

  .subject-change {
    top: 60px;
    left: 8px;
    width: 130px;

    select {
      padding: 9px;
      font-size: 15px;
    }

    &::after {
      right: 9px;
      font-size: 13px;
    }
  }

  .subject-controls {
    gap: 9px;

    button {
      height: 55px;
      width: 220px;
      font-size: 24px;
    }
  }
}
