@media screen and (min-width: 1921px) {
  .spinner {
    width: 75px;
    height: 75px;
    border: 9px solid transparent;
    border-top: 9px solid #c444ff;
  }

  .loading-message {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  .subject-change {
    top: 65px;
    left: 15px;
    width: 180px;

    select {
      width: 180px;
      padding: 12px;
      font-size: 18px;
    }

    &::after {
      right: 12px;
      font-size: 16px;
    }
  }

  .subject-controls {
    gap: 12px;

    button {
      height: 70px;
      width: 300px;
      font-size: 32px;
    }
  }
}
