@media screen and (min-width: 1921px) {
  .role-stats-container {
    .title {
      font-size: 21px;
      margin-bottom: 16px;
    }

    .stats-table {
      th,
      td {
        padding: 11px;
        font-size: 16px;
      }

      th {
        font-size: 17px;
      }
    }
  }
}
