@media screen and (min-width: 1921px) {
  .role-stats-container {
    max-width: 680px;
    max-height: 550px;
    padding: 25px 25px 45px 25px;

    .title {
      font-size: 21px;
      margin-bottom: 16px;
    }

    .stats-table {
      th,
      td {
        padding: 11px;
        font-size: 16px;
      }

      th {
        font-size: 17px;
      }
    }
  }
}
