@media screen and (max-width: 1366px) {
  .country-stats-container {
    .title {
      font-size: 18px;
      margin-bottom: 12px;
    }

    .stats-table {
      th,
      td {
        padding: 8px;
        font-size: 13px;
      }

      th {
        font-size: 14px;
      }
    }
  }
}
