@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .country-stats-container {
    .title {
      font-size: 19px;
      margin-bottom: 13px;
    }

    .stats-table {
      th,
      td {
        padding: 9px;
        font-size: 13.5px;
      }

      th {
        font-size: 14.5px;
      }
    }
  }
}
