@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .country-stats-container {
    max-width: 580px;
    max-height: 290px;
    padding: 28px 18px 18px 18px;

    .title {
      font-size: 19px;
      margin-bottom: 13px;
    }

    .stats-table {
      th,
      td {
        padding: 9px;
        font-size: 13.5px;
      }

      th {
        font-size: 14.5px;
      }
    }
  }
}
