@media screen and (min-width: 1921px) {
  .country-stats-container {
    .title {
      font-size: 22px;
      margin-bottom: 16px;
    }

    .stats-table {
      th,
      td {
        padding: 12px;
        font-size: 15px;
      }

      th {
        font-size: 16px;
      }
    }
  }
}
