@media screen and (min-width: 1921px) {
  .admin-settings-container {
    padding: 30px;
  }

  .settings-container {
    width: 90%;
    max-width: 2100px !important;
    gap: 100px !important;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .settings-section {
    max-width: 1000px !important;
    padding: 25px;
    gap: 30px;
    height: auto;
    max-height: 600px;

    h2 {
      font-size: 34px;
      margin-bottom: 25px;
    }

    .switches-container {
      gap: 12px;

      .switch {
        padding: 20px !important;

        label {
          font-size: 30px !important;
        }

        input[type="checkbox"] {
          width: 60px !important;
          height: 30px !important;
        }

        input[type="checkbox"]:before {
          width: 28px !important;
          height: 28px !important;
        }

        input[type="checkbox"]:checked:before {
          transform: translateX(30px) !important;
        }
      }
    }
  }
}
