.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    background: white;
    box-shadow: 0 0 10px 2px white, 0 0 20px 4px rgba(255, 255, 255, 0.8);
    z-index: 40;
    transform: translateY(7.5px);
  }

  &::before {
    animation: first-line-animation 5s linear infinite;
  }

  &::after {
    animation: second-line-animation 5s linear infinite;
  }

  canvas {
    width: 50vw;
    height: 50vh;
    border: 2px solid transparent;
    margin-top: 20px;
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, #c0c0c0 1px, transparent 1px),
      linear-gradient(to bottom, #c0c0c0 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 30;

    &.blurred {
      filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.8);
      pointer-events: none;
    }

    &.preview-canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 35;
      pointer-events: none;
      background: transparent;
    }
  }

  .subject-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    z-index: 40;

    button {
      background-color: rgba(#444, 0.3);
      color: #fff;
      border: none;
      height: 60px;
      width: 250px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.3s ease;
      font-size: 28px;
      font-family: "Courier New", Courier, monospace;
      text-shadow: 1px;

      &:hover {
        background-color: rgba(#666, 0.7);
      }
    }
  }

  .scale-controls {
    position: absolute;
    top: 30px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    z-index: 40;

    button {
      background-color: #444;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #666;
      }

      &:disabled {
        background-color: #888;
        cursor: not-allowed;
      }
    }

    .scale-value {
      color: black;
      width: 80px;
      margin: 0 5px;
      font-weight: bold;
      text-align: center;
    }

    &.disabled {
      visibility: hidden;
    }
  }

  .polygon-input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .polygon-input-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    h3 {
      margin-bottom: 20px;
      color: black;
    }

    input {
      width: 100px;
      padding: 8px;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .button-group {
      display: flex;
      gap: 10px;
      justify-content: center;

      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #444;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #666;
        }
      }
    }
  }

  .subject-change {
    position: absolute;
    top: 30px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    z-index: 40;

    select {
      background-color: rgba(#333, 0.5);
      color: #fff;
      border: 1px solid #444;
      border-radius: 4px;
      padding: 10px;
      cursor: pointer;
      appearance: none;
      width: 100%;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #666;
      }
    }

    &::after {
      content: "▼";
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #fff;
      pointer-events: none;
    }
    &.disabled {
      display: none;
    }
  }

  .canvas-controls {
    position: absolute;
    top: 80px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 120px;
    height: 50px;
    z-index: 40;

    &.disabled {
      display: none;
    }

    button {
      width: 40px;
      height: 40px;
      padding: 8px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      color: white;
      border: none;
      border-radius: 8px;
      transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70% 70%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      &:hover:not(.disabled) {
        background-color: rgba(255, 255, 255, 0.25);
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }

    .undo-btn {
      background-image: url(../../../assets/icons/undo-btn.png);

      &:hover:not(.disabled) {
        background-image: url(../../../assets/icons/undo-btn-hover.png);
      }

      &.disabled {
        background-image: url(../../../assets/icons/undo-btn-disabled.png);
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
        transform: none;
        box-shadow: none;
      }
    }

    .redo-btn {
      background-image: url(../../../assets/icons/redo-btn.png);

      &:hover:not(.disabled) {
        background-image: url(../../../assets/icons/redo-btn-hover.png);
      }

      &.disabled {
        background-image: url(../../../assets/icons/redo-btn-disabled.png);
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
        transform: none;
        box-shadow: none;
      }
    }
  }

  .shape-tools {
    position: absolute;
    left: 50px;
    top: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    transition: transform 0.2s ease-in-out;
    z-index: 40;
  }

  .tool-buttons {
    position: absolute;
    width: 40px;
    left: 10px;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 40;

    button {
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease;
      background-color: transparent;
      padding: 0;
      margin: 5px;

      &.img {
        object-fit: cover;
      }

      &.pencil-btn {
        background-image: url("../../../assets/icons/pencil.png");

        &:hover {
          background-image: url("../../../assets/icons/pencil-hover.png");
        }
      }

      &.color-btn {
        background-image: url("../../../assets/icons/color-palette.png");

        &:hover {
          background-image: url("../../../assets/icons/color-palette-hover.png");
        }
      }

      &.tool-btn {
        background-image: url("../../../assets/icons/tool-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/tool-btn-hover.png");
        }
      }

      &.ellipse-btn {
        background-image: url("../../../assets/icons/ellipse-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/ellipse-btn-hover.png");
        }
      }

      &.parallelogram-btn {
        background-image: url("../../../assets/icons/parallelogram-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/parallelogram-btn-hover.png");
        }
      }

      &.line-btn {
        background-image: url("../../../assets/icons/line-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/line-btn-hover.png");
        }
      }

      &.polygon-btn {
        background-image: url("../../../assets/icons/polygon-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/polygon-btn-hover.png");
        }
      }

      &.triangle-btn {
        background-image: url("../../../assets/icons/triangle-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/triangle-btn-hover.png");
        }
      }

      &.quad-btn {
        background-image: url("../../../assets/icons/quad-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/quad-btn-hover.png");
        }
      }

      &.trapezoid-btn {
        background-image: url("../../../assets/icons/trapezoid-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/trapezoid-btn-hover.png");
        }
      }

      &.rhombus-btn {
        background-image: url("../../../assets/icons/rhombus-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/rhombus-btn-hover.png");
        }
      }

      &.clear-btn {
        background-image: url("../../../assets/icons/eraser.png");

        &:hover {
          background-image: url("../../../assets/icons/eraser-hover.png");
        }
      }
    }

    &.disabled {
      display: none;
    }
  }

  .color-palette {
    position: absolute;
    top: 50%;
    left: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 160px;
    transform: translateY(-50%);
    background-color: rgba(240, 240, 240, 0.9);
    border: 2px solid #444;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 40;

    .color-option {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid transparent;
      opacity: 0.7;
      transition: opacity 0.3s ease;
      z-index: 40;

      &:hover {
        border-color: #444;
        opacity: 1;
        scale: (1.2);
      }
    }
  }

  .figure-tool-buttons {
    position: absolute;
    width: 40px;
    right: 10px;
    bottom: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 40;

    button {
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease;
      background-color: transparent;
      padding: 0;
      margin: 5px;

      &.disabled {
        cursor: not-allowed;
        pointer-events: auto;
      }

      &.img {
        object-fit: cover;
      }

      &.set-length-btn {
        background-image: url("../../../assets/icons/set-length-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/set-length-btn-hover.png");
        }
      }

      &.select-figure-btn {
        background-image: url("../../../assets/icons/figure-click.png");

        &.active,
        &:hover {
          background-image: url("../../../assets/icons/figure-click-hover.png");
        }
      }

      &.color-btn {
        background-image: url("../../../assets/icons/color-palette.png");

        &:hover {
          background-image: url("../../../assets/icons/color-palette-hover.png");
        }
      }

      &.line-btn {
        background-image: url("../../../assets/icons/line-btn.png");

        &:hover {
          background-image: url("../../../assets/icons/line-btn-hover.png");
        }
      }
    }

    &.not-visible {
      display: none;
    }
  }

  .line-color-palette {
    position: absolute;
    top: 50%;
    right: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 160px;
    transform: translateY(-50%);
    background-color: rgba(240, 240, 240, 0.9);
    border: 2px solid #444;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 40;

    .color-option {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid transparent;
      opacity: 0.7;
      transition: opacity 0.3s ease;
      z-index: 40;

      &:hover {
        border-color: #444;
        opacity: 1;
        scale: (1.2);
      }
    }
  }

  .line-length-input {
    position: absolute;
    z-index: 40;

    .line-length-input-field {
      position: absolute;
      width: 50px;
      height: 25px;
      text-align: center;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  @media (max-width: 768px) {
    canvas {
      width: 80vw;
      height: 40vh;
    }

    .tool-buttons {
      left: 5px;
    }
  }
}

@keyframes first-line-animation {
  0% {
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
  }
  25% {
    top: 10px;
    left: 100%;
    width: 0;
    height: 3px;
  }
  26% {
    top: calc(100% - 10px);
    left: 100%;
    width: 0;
    height: 3px;
  }
  50% {
    top: calc(100% - 10px);
    left: 0;
    width: 100%;
    height: 3px;
  }
  74% {
    top: calc(100% - 10px);
    left: 0%;
    width: 0;
    height: 3px;
  }
  75% {
    top: 10px;
    left: 0%;
    width: 0;
    height: 3px;
  }
  100% {
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

@keyframes second-line-animation {
  0% {
    top: 10px;
    right: 0;
    width: 3px;
    height: 0;
  }
  25% {
    top: 10px;
    right: 0;
    width: 3px;
    height: calc(100% - 20px);
  }
  50% {
    top: calc(100% - 10px);
    left: auto;
    right: 0;
    width: 3px;
    height: 0%;
  }
  51% {
    top: calc(100% - 10px);
    left: 0;
    width: 3px;
    height: 0%;
  }
  75% {
    top: 10px;
    left: 0;
    right: auto;
    width: 3px;
    height: calc(100% - 20px);
  }
  100% {
    top: 10px;
    left: 0;
    right: auto;
    width: 3px;
    height: 0%;
  }
}
