<div class="canvas-container">
  <ng-container [ngSwitch]="selectedSubject">
    <app-math-canvas *ngSwitchCase="'Math'"></app-math-canvas>
    <app-geometry-canvas *ngSwitchCase="'Geo'"></app-geometry-canvas>
    <div *ngSwitchDefault class="blurred-placeholder">
      <canvas class="canvas blurred"></canvas>
    </div>
  </ng-container>

  <div *ngIf="!selectedSubject" class="subject-controls">
    <button (click)="selectSubject('Math')">
      {{ "CANVAS.SETTINGS.SELECT.MATH" | translate }}
    </button>
    <button (click)="selectSubject('Geo')">
      {{ "CANVAS.SETTINGS.SELECT.GEOMETRY" | translate }}
    </button>
  </div>

  <div class="subject-change" [class.disabled]="!selectedSubject">
    <select
      [(ngModel)]="selectedSubject"
      (ngModelChange)="selectSubject($event)"
    >
      <option value="Math">
        {{ "CANVAS.SETTINGS.SELECT.MATH" | translate }}
      </option>
      <option value="Geo">
        {{ "CANVAS.SETTINGS.SELECT.GEOMETRY" | translate }}
      </option>
    </select>
  </div>
</div>
<div class="canvas-solution-container" *ngIf="geoTaskId">
  <app-geometry-solution-canvas></app-geometry-solution-canvas>
</div>
<div class="canvas-solution-container" *ngIf="mathTaskId">
  <app-math-solution-canvas></app-math-solution-canvas>
</div>
