@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .about-section {
    height: 100vh;
  }

  .app-example-animation {
    top: 50px;
    left: 50px;
    width: calc(100% - 50px);
    height: calc(100% - 180px);
  }

  h2,
  p {
    font-size: 1.8rem;
  }

  span,
  a {
    margin-top: 9vh;
    font-size: 0.95rem;
    width: 70vh;
  }
}
