@media screen and (min-width: 1921px) {
  .app-example-animation {
    top: 65px;
    left: 65px;
    width: calc(100% - 65px);
    height: calc(100% - 220px);
  }

  h2,
  p {
    font-size: 2.2rem;
  }

  span,
  a {
    margin-top: 12vh;
    font-size: 1.05rem;
    width: 80vh;
  }
}
