@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .chart-container {
    canvas {
      margin-top: 45px;
    }

    .chart-header {
      top: 18px;
      right: 18px;

      label {
        font-size: 13.5px;
        margin-right: 9px;
      }

      select {
        padding: 7px 14px;
        font-size: 13.5px;
      }
    }
  }
}
