@media screen and (min-width: 1921px) {
  .chart-container {
    canvas {
      margin-top: 55px;
    }

    .chart-header {
      top: 25px;
      right: 25px;

      label {
        font-size: 15px;
        margin-right: 12px;
      }

      select {
        padding: 9px 18px;
        font-size: 15px;
      }
    }
  }
}
