@media screen and (min-width: 1921px) {
  .admin-dashboard-container {
    height: calc(100vh - 60px);
    width: calc(100vw - 2 * 70px);
    padding: 25px;
    column-gap: 25px;
    row-gap: 25px;
    top: 40px;
    left: 40px;

    .dashboard-item {
      height: 600px;
      padding: 25px;
    }
  }
}
