@media screen and (max-width: 1366px) {
  .policy-container {
    padding: 55px 75px;

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 25px;
    }
  }
}
