@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .policy-container {
    padding: 55px 75px;

    h1 {
      font-size: 26px;
    }

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 25px;
    }
  }
}
