<div class="features-section select-none">
  <h2>{{ "HOME.FEATURES.TITLE" | translate }}</h2>
  <div class="cards-container">
    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <img src="../../../assets/icons/automation.svg" class="icon" />
          <h3>{{ "HOME.FEATURES.FIRST.TITLE" | translate }}</h3>
        </div>
        <div class="card-back">
          <div class="card-back-content">
            <p>{{ "HOME.FEATURES.FIRST.DESCRIPTION" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <img src="../../../assets/icons/triangular-ruler.svg" class="icon" />
          <h3>{{ "HOME.FEATURES.SECOND.TITLE" | translate }}</h3>
        </div>
        <div class="card-back">
          <div class="card-back-content">
            <p>{{ "HOME.FEATURES.SECOND.DESCRIPTION" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <img src="../../../assets/icons/workflow.svg" class="icon" />
          <h3>
            {{ "HOME.FEATURES.THIRD.TITLE" | translate }}
            <span class="badge">
              <span>{{ "HOME.FEATURES.INPROGRESS" | translate }}</span>
            </span>
          </h3>
        </div>
        <div class="card-back">
          <div class="card-back-content">
            <p>{{ "HOME.FEATURES.THIRD.DESCRIPTION" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <img src="../../../assets/icons/monitor.svg" class="icon" />
          <h3>{{ "HOME.FEATURES.FOURTH.TITLE" | translate }}</h3>
        </div>
        <div class="card-back">
          <div class="card-back-content">
            <p>{{ "HOME.FEATURES.FOURTH.DESCRIPTION" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-inner">
        <div class="card-front">
          <img src="../../../assets/icons/github.svg" class="icon" />
          <h3>{{ "HOME.FEATURES.FIFTH.TITLE" | translate }}</h3>
        </div>
        <div class="card-back">
          <div class="card-back-content">
            <p>{{ "HOME.FEATURES.FIFTH.DESCRIPTION" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
