<div class="active-users-container">
  <div class="title">
    {{ "ADMIN.DASHBOARD.ACTIVE_USERS.TITLE" | translate }}
  </div>

  <div class="token-stats">
    <div class="token-block">
      <div class="count-title">
        {{ "ADMIN.DASHBOARD.ACTIVE_USERS.ACTIVE_TOKENS" | translate }}
      </div>
      <div class="count">{{ activeTokens }}</div>
    </div>

    <div class="token-block">
      <div class="count-title">
        {{ "ADMIN.DASHBOARD.ACTIVE_USERS.TOTAL_TOKENS" | translate }}
      </div>
      <div class="count">{{ totalTokens }}</div>
    </div>
  </div>
</div>
