@media screen and (min-width: 1367px) and (max-width: 1600px) {
  .admin-logs-container {
    height: 100vh;
    width: 100%;
  }

  .buttons-container {
    top: 90px;
    left: 90px;
    gap: 12px;

    button {
      padding: 9px 18px;
      font-size: 15px;
      border-radius: 7px;

      &.active {
        background: #007bff;
        border-color: #0056b3;
      }
    }
  }
}
