<div class="admin-users-container">
  <div class="users-table">
    <div class="table-header">
      <div class="column">{{ "ADMIN.USERS.NICKNAME" | translate }}</div>
      <div class="column">{{ "ADMIN.USERS.EMAIL" | translate }}</div>
      <div class="column">{{ "ADMIN.USERS.ROLE" | translate }}</div>
      <div class="column">{{ "ADMIN.USERS.REG_DATE" | translate }}</div>
      <div class="column">{{ "ADMIN.USERS.STATUS" | translate }}</div>
      <div class="column">{{ "ADMIN.USERS.ACTION" | translate }}</div>
    </div>
    <div class="table-body">
      <div
        class="table-row"
        *ngFor="let user of paginatedUsers"
        (click)="openUserDetails(user)"
        [ngClass]="{ 'current-user': user.username === currentUsername }"
      >
        <div class="column">{{ user.username }}</div>
        <div class="column">{{ user.email }}</div>
        <div class="column">{{ user.role }}</div>
        <div class="column">
          {{ user.registrationDate | date : "short" }} UTC
        </div>
        <div class="column">
          <span
            class="status"
            [ngClass]="{ active: !user.isBlocked, inactive: user.isBlocked }"
          >
            {{
              !user.isBlocked
                ? ("ADMIN.USERS.ACTIVE" | translate)
                : ("ADMIN.USERS.BLOCKED" | translate)
            }}
          </span>
        </div>
        <div class="column">
          <button
            class="toggle-btn"
            (click)="openConfirmModal(user); $event.stopPropagation()"
          >
            {{
              !user.isBlocked
                ? ("ADMIN.USERS.BLOCK" | translate)
                : ("ADMIN.USERS.UNBLOCK" | translate)
            }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      »
    </button>
  </div>

  <div *ngIf="isConfirmModalOpen" class="modal-overlay">
    <div class="modal-content">
      <h3>{{ "ADMIN.USERS.CONFIRM_ACTION.TITLE" | translate }}</h3>
      <p *ngIf="userToConfirm?.isBlocked">
        {{ "ADMIN.USERS.UNBAN.CONFIRM" | translate }}
        <strong>{{ userToConfirm?.username }}</strong
        >?
      </p>
      <p *ngIf="!userToConfirm?.isBlocked">
        {{ "ADMIN.USERS.BAN.CONFIRM" | translate }}
        <strong>{{ userToConfirm?.username }}</strong
        >?
      </p>
      <button (click)="confirmAction()">
        {{ "ADMIN.USERS.CONFIRM_ACTION.YES" | translate }}
      </button>
      <button (click)="closeConfirmModal()">
        {{ "ADMIN.USERS.CONFIRM_ACTION.NO" | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="selectedUser" class="user-modal">
    <div class="modal-content">
      <h3>{{ "ADMIN.USERS.DETAILS.TITLE" | translate }}</h3>
      <p>
        <strong>{{ "ADMIN.USERS.NICKNAME" | translate }}:</strong>
        {{ selectedUser.username }}
      </p>
      <p>
        <strong>{{ "ADMIN.USERS.EMAIL" | translate }}:</strong>
        {{ selectedUser.email }}
      </p>

      <p>
        <strong>{{ "ADMIN.USERS.ROLE" | translate }}:</strong>
        {{ selectedUser.role }}
      </p>
      <p>
        <strong>{{ "ADMIN.USERS.REG_DATE" | translate }}:</strong>
        {{ selectedUser.registrationDate | date : "medium" }} UTC
      </p>
      <p>
        <strong>{{ "ADMIN.USERS.STATUS" | translate }}:</strong>
        {{
          !selectedUser.isBlocked
            ? ("ADMIN.USERS.ACTIVE" | translate)
            : ("ADMIN.USERS.BLOCKED" | translate)
        }}
      </p>

      <div *ngIf="selectedUser.loginTokens?.length">
        <h4>{{ "ADMIN.USERS.TOKENS" | translate }}</h4>
        <ul>
          <li *ngFor="let token of paginatedTokens">
            <p>
              <strong>{{ "ADMIN.USERS.IP_ADDRESS" | translate }}:</strong>
              {{ token.ipAddress }}
            </p>
            <p>
              <strong>{{ "ADMIN.USERS.EXPIRATION" | translate }}:</strong>
              {{ token.expiration | date : "medium" }} UTC
            </p>
            <p>
              <strong>{{ "ADMIN.USERS.DEVICE" | translate }}:</strong>
              {{ token.deviceInfo.platform }} - {{ token.deviceInfo.userAgent }}
            </p>
            <p>
              <strong>{{ "ADMIN.USERS.STATUS" | translate }}:</strong>
              {{ token.isActive ? "Active" : "Inactive" }}
            </p>
          </li>
        </ul>

        <div class="pagination">
          <button (click)="prevTokenPage()" [disabled]="tokenPage === 1">
            «
          </button>
          <span>{{ tokenPage }} / {{ totalTokenPages }}</span>
          <button
            (click)="nextTokenPage()"
            [disabled]="tokenPage === totalTokenPages"
          >
            »
          </button>
        </div>
      </div>

      <button (click)="closeUserDetails()">
        {{ "ADMIN.USERS.DETAILS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>
