.admin-users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(120deg, #000000, #1a1a1a, #000000);
  width: 100%;
  min-height: 100vh;
}

.users-table {
  width: 90%;
  max-width: 1000px;
  position: relative;
  top: 65px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px;
}

.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.table-header {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.table-row {
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

.column {
  flex: 1;
  text-align: center;
}

.status {
  font-weight: bold;
  &.active {
    color: #4caf50;
  }
  &.inactive {
    color: #ff5733;
  }
}

.toggle-btn {
  background: #ffcc00;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    background: #ff9900;
  }
}

.user-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 100;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  h4 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .pagination {
    bottom: 0;
  }
}

button {
  background: #ffcc00;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    background: #ff9900;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  position: relative;
  bottom: 50px;
  gap: 10px;

  button {
    background: #ffcc00;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;

    &:hover {
      background: #ff9900;
    }

    &:disabled {
      background: #555;
      cursor: not-allowed;
    }
  }

  span {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
}
