<div class="admin-all-logs-container">
  <div class="logs-table">
    <div class="logs-content">
      <div class="table-header">
        <div
          class="column"
          (click)="sortByColumn('id')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.ID'"
        >
          {{ "ADMIN.LOGS.ID" | translate }}
          <span *ngIf="sortColumn === 'id'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          *ngIf="showTimestamp"
          (click)="sortByColumn('timestamp')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.TIMESTAMP'"
        >
          {{ "ADMIN.LOGS.TIMESTAMP" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'timestamp'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('method')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.METHOD'"
        >
          {{ "ADMIN.LOGS.METHOD" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'method'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('path')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.PATH'"
        >
          {{ "ADMIN.LOGS.PATH" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'path'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          *ngIf="showUserId"
          (click)="sortByColumn('userId')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.USERID'"
        >
          {{ "ADMIN.LOGS.USERID" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'userId'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          *ngIf="showRequest"
          (click)="sortByColumn('requestBody')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.REQUESTBODY'"
        >
          {{ "ADMIN.LOGS.REQUESTBODY.TITLE" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'requestBody'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('statusCode')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.STATUSCODE'"
        >
          {{ "ADMIN.LOGS.STATUSCODE" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'statusCode'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          *ngIf="showDuration"
          (click)="sortByColumn('startTime')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.START_TIME'"
        >
          {{ "ADMIN.LOGS.START_TIME" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'startTime'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          *ngIf="showDuration"
          (click)="sortByColumn('endTime')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.END_TIME'"
        >
          {{ "ADMIN.LOGS.END_TIME" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'endTime'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          *ngIf="showDuration"
          (click)="sortByColumn('elapsedTime')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.ELAPSED_TIME'"
        >
          {{ "ADMIN.LOGS.ELAPSED_TIME" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'elapsedTime'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('ipAddress')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.IP'"
        >
          {{ "ADMIN.LOGS.IP" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'ipAddress'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('userAgent')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.USERAGENT'"
        >
          {{ "ADMIN.LOGS.USERAGENT" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'userAgent'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('status')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.STATUS'"
        >
          {{ "ADMIN.LOGS.STATUS" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'status'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
        <div
          class="column"
          (click)="sortByColumn('requestType')"
          [appTooltip]="'DESCRIPTION.ADMIN.LOGS.REQUEST_TYPE'"
        >
          {{ "ADMIN.LOGS.REQUEST_TYPE" | translate | truncate : 5 }}
          <span *ngIf="sortColumn === 'requestType'" class="sort-arrow">
            {{ sortDirection === "asc" ? "▼" : "▲" }}
          </span>
        </div>
      </div>
      <div class="table-body">
        <div
          class="table-row"
          *ngFor="let log of paginatedLogs"
          (click)="openLogDetails(log)"
        >
          <div class="column">{{ log.id }}</div>
          <div class="column" *ngIf="showTimestamp">
            {{ log.timestamp | date : "HH:mm:ss" }}
          </div>
          <div class="column">{{ log.method }}</div>
          <div class="column">
            {{ getFormattedPath(log.path) }}
          </div>
          <div class="column" *ngIf="showUserId">
            {{
              log.userId.length > 6
                ? log.userId.slice(0, 6) + "..."
                : log.userId
            }}
          </div>
          <div class="column" *ngIf="showRequest">
            {{
              log.requestBody
                ? log.requestBody.length > 5
                  ? log.requestBody.slice(0, 5) + "..."
                  : log.requestBody
                : ("ADMIN.LOGS.REQUESTBODY.EMPTY" | translate)
            }}
          </div>
          <div class="column">{{ log.statusCode }}</div>
          <div class="column" *ngIf="showDuration">
            {{ log.startTime.slice(6) }}
          </div>
          <div class="column" *ngIf="showDuration">
            {{ log.endTime.slice(6) }}
          </div>
          <div class="column" *ngIf="showDuration">{{ log.elapsedTime }}</div>
          <div class="column">{{ log.ipAddress | truncate : 7 }}</div>
          <div class="column">
            {{ log.userAgent | truncate : 8 }}
          </div>
          <div class="column">{{ log.status }}</div>
          <div class="column">{{ log.requestType }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button *ngIf="currentPage !== 1" (click)="goToPage(1)">««</button>
    <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>

    <input
      type="number"
      class="page-input"
      [(ngModel)]="pageInput"
      (change)="goToPage(pageInput)"
      [min]="1"
      [max]="totalPages"
    />
    <span class="slash">/</span>
    <span class="total-pages">{{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      »
    </button>
    <button *ngIf="currentPage !== totalPages" (click)="goToPage(totalPages)">
      »»
    </button>
  </div>

  <div *ngIf="selectedLog" class="log-modal">
    <div class="modal-content">
      <h3>{{ "ADMIN.LOGS.DETAILS.TITLE" | translate }}</h3>
      <p>
        <strong>{{ "ADMIN.LOGS.ID" | translate }}:</strong>
        {{ selectedLog.id }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.TIMESTAMP" | translate }}:</strong>
        {{ selectedLog.timestamp }}
      </p>

      <p>
        <strong>{{ "ADMIN.LOGS.METHOD" | translate }}:</strong>
        {{ selectedLog.method }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.PATH" | translate }}:</strong>
        {{ selectedLog.path }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.USERID" | translate }}:</strong>
        {{ selectedLog.userId }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.REQUESTBODY.TITLE" | translate }}:</strong>
        {{
          selectedLog.requestBody
            ? selectedLog.requestBody
            : ("ADMIN.LOGS.REQUESTBODY.EMPTY" | translate)
        }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.STATUSCODE" | translate }}:</strong>
        {{ selectedLog.statusCode }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.START_TIME" | translate }}:</strong>
        {{ selectedLog.startTime }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.END_TIME" | translate }}:</strong>
        {{ selectedLog.endTime }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.ELAPSED_TIME" | translate }}:</strong>
        {{ selectedLog.elapsedTime }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.IP" | translate }}:</strong>
        {{ selectedLog.ipAddress }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.USERAGENT" | translate }}:</strong>
        {{ selectedLog.userAgent }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.STATUS" | translate }}:</strong>
        {{ selectedLog.status }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.REQUEST_TYPE" | translate }}:</strong>
        {{ selectedLog.requestType }}
      </p>

      <button (click)="closeLogDetails()">
        {{ "ADMIN.TOKENS.DETAILS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>
