@media (min-width: 1367px) and (max-width: 1600px) {
  .notfound-section {
    .octagon {
      width: 280px;
      height: 280px;

      .question3d {
        font-size: 5rem;
      }
    }

    .title {
      font-size: 1.8rem;
    }

    .description {
      font-size: 1rem;
    }
  }
}
