@media (min-width: 1921px) {
  .notfound-section {
    .octagon {
      width: 420px;
      height: 420px;

      .question3d {
        font-size: 7rem;
      }
    }

    .title {
      font-size: 2.4rem;
    }

    .description {
      font-size: 1.2rem;
    }

    .buttons button {
      padding: 12px 24px;
      font-size: 1.1rem;
    }
  }
}
