.admin-sidebar {
  position: fixed;
  top: 55px;
  right: 0;
  width: 55px;
  height: calc(100vh - 55px);
  background: #161616;
  transition: width 0.2s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 100;

  &:hover {
    width: 200px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 0.4rem;
      width: 100%;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        padding: 0 0.75rem;
        text-decoration: none;
        color: #ffffffb1;
        transition: background 0.3s;
        height: 55px;

        &:hover {
          background-color: #333;
          color: #fffffff4;

          img {
            &.dashboard {
              content: url("../../../../assets/icons/dashboard-hover.png");
            }

            &.users {
              content: url("../../../../assets/icons/users-hover.png");
            }

            &.tokens {
              content: url("../../../../assets/icons/tokens-hover.png");
            }

            &.logs {
              content: url("../../../../assets/icons/logs-hover.png");
            }

            &.settings {
              content: url("../../../../assets/icons/settings-hover.png");
            }
          }
        }

        &.active {
          background-color: #222;
        }

        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          margin-right: 25px;
        }

        .admin-sidebar:hover & span {
          display: inline;
          color: #fff;
        }
      }
    }
  }
}
