<section class="roadmap-section select-none">
  <h2>{{ "HOME.ROADMAP.TITLE" | translate }}</h2>
  <div class="roadmap-container">
    <div class="roadmap-card progress">
      <div class="card-inner">
        <h3>Q3 2025</h3>
        <div class="roadmap-list">
          <ul>
            <li class="completed">
              {{ "HOME.ROADMAP.PHASE_1.FIRST" | translate }}
            </li>
            <li class="completed">
              {{ "HOME.ROADMAP.PHASE_1.SECOND" | translate }}
            </li>
            <li class="completed">
              {{ "HOME.ROADMAP.PHASE_1.THIRD" | translate }}
            </li>
            <li class="progress">
              {{ "HOME.ROADMAP.PHASE_1.FOURTH" | translate }}
            </li>
            <li class="upcoming">
              {{ "HOME.ROADMAP.PHASE_1.FIFTH" | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="roadmap-card upcoming">
      <div class="card-inner">
        <h3>Q1 2026</h3>
        <div class="roadmap-list">
          <ul>
            <li>{{ "HOME.ROADMAP.PHASE_2.FIRST" | translate }}</li>
            <li>{{ "HOME.ROADMAP.PHASE_2.SECOND" | translate }}</li>
            <li>{{ "HOME.ROADMAP.PHASE_2.THIRD" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="roadmap-card upcoming">
      <div class="card-inner">
        <h3>Q4 2026</h3>
        <div class="roadmap-list">
          <ul>
            <li>{{ "HOME.ROADMAP.PHASE_3.FIRST" | translate }}</li>
            <li>{{ "HOME.ROADMAP.PHASE_3.SECOND" | translate }}</li>
            <li>{{ "HOME.ROADMAP.PHASE_3.THIRD" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="roadmap-card upcoming">
      <div class="card-inner">
        <h3>Q2 2027</h3>
        <div class="roadmap-list">
          <ul>
            <li>{{ "HOME.ROADMAP.PHASE_4.FIRST" | translate }}</li>
            <li>{{ "HOME.ROADMAP.PHASE_4.SECOND" | translate }}</li>
            <li>{{ "HOME.ROADMAP.PHASE_4.THIRD" | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
