.animation-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.example-canvas-animation {
  position: absolute;
  left: 400px;
  top: 100px;
}

.binary-animation {
  position: absolute;
  left: 800px;
  top: 100px;
}
