<div class="admin-auth-logs-container">
  <div class="logs-table">
    <div class="table-header">
      <div
        class="column"
        (click)="sortByColumn('id')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.ID'"
      >
        {{ "ADMIN.LOGS.ID" | translate }}
        <span *ngIf="sortColumn === 'id'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        *ngIf="showTimestamp"
        (click)="sortByColumn('timestamp')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.TIMESTAMP'"
      >
        {{ "ADMIN.LOGS.TIMESTAMP" | translate | truncate : 5 }}
        <span *ngIf="sortColumn === 'timestamp'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        *ngIf="showUserId"
        (click)="sortByColumn('userId')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.USERID'"
      >
        {{ "ADMIN.LOGS.USERID" | translate | truncate : 5 }}
        <span *ngIf="sortColumn === 'userId'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('ipAddress')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.IP'"
      >
        {{ "ADMIN.LOGS.IP" | translate | truncate : 5 }}
        <span *ngIf="sortColumn === 'ipAddress'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('userAgent')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.USERAGENT'"
      >
        {{ "ADMIN.LOGS.USERAGENT" | translate | truncate : 5 }}
        <span *ngIf="sortColumn === 'userAgent'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('status')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.STATUS'"
      >
        {{ "ADMIN.LOGS.STATUS" | translate | truncate : 5 }}
        <span *ngIf="sortColumn === 'status'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div
        class="column"
        (click)="sortByColumn('message')"
        [appTooltip]="'DESCRIPTION.ADMIN.LOGS.MESSAGE'"
      >
        {{ "ADMIN.LOGS.MESSAGE" | translate | truncate : 5 }}
        <span *ngIf="sortColumn === 'message'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
    </div>
    <div class="table-body">
      <div
        class="table-row"
        *ngFor="let log of paginatedLogs"
        (click)="openLogDetails(log)"
      >
        <div class="column">{{ log.id }}</div>
        <div class="column" *ngIf="showTimestamp">
          {{ log.timestamp | date : "dd.MM.yyyy" }}
        </div>
        <div class="column" *ngIf="showUserId">
          {{
            log.userId.length > 6 ? log.userId.slice(0, 6) + "..." : log.userId
          }}
        </div>
        <div class="column">{{ log.ipAddress }}</div>
        <div class="column">
          {{
            log.userAgent.length > 10
              ? log.userAgent.slice(0, 10) + "..."
              : log.userAgent
          }}
        </div>
        <div class="column">
          {{
            log.status.length > 6 ? log.status.slice(0, 6) + "..." : log.status
          }}
        </div>
        <div class="column">
          {{
            log.message.length > 6
              ? log.message.slice(0, 6) + "..."
              : log.message
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button *ngIf="currentPage !== 1" (click)="goToPage(1)">««</button>
    <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>

    <input
      type="number"
      class="page-input"
      [(ngModel)]="pageInput"
      (change)="goToPage(pageInput)"
      [min]="1"
      [max]="totalPages"
    />
    <span class="slash">/</span>
    <span class="total-pages">{{ totalPages }}</span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      »
    </button>
    <button *ngIf="currentPage !== totalPages" (click)="goToPage(totalPages)">
      »»
    </button>
  </div>

  <div *ngIf="selectedLog" class="log-modal">
    <div class="modal-content">
      <h3>{{ "ADMIN.LOGS.DETAILS.TITLE" | translate }}</h3>
      <p>
        <strong>{{ "ADMIN.LOGS.ID" | translate }}:</strong>
        {{ selectedLog.id }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.TIMESTAMP" | translate }}:</strong>
        {{ selectedLog.timestamp }}
      </p>

      <p>
        <strong>{{ "ADMIN.LOGS.USERID" | translate }}:</strong>
        {{ selectedLog.userId }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.IP" | translate }}:</strong>
        {{ selectedLog.ipAddress }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.USERAGENT" | translate }}:</strong>
        {{ selectedLog.userAgent }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.STATUS" | translate }}:</strong>
        {{ selectedLog.status }}
      </p>
      <p>
        <strong>{{ "ADMIN.LOGS.MESSAGE" | translate }}:</strong>
        {{
          selectedLog.message
            ? selectedLog.message
            : ("ADMIN.LOGS.REQUESTBODY.EMPTY" | translate)
        }}
      </p>

      <button (click)="closeLogDetails()">
        {{ "ADMIN.TOKENS.DETAILS.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>
