<div class="admin-auth-logs-container">
  <div class="logs-table">
    <div class="table-header">
      <div class="column" (click)="sortByColumn('id')">
        {{ "ADMIN.LOGS.ID" | translate }}
        <span *ngIf="sortColumn === 'id'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div class="column" (click)="sortByColumn('timestamp')">
        {{ "ADMIN.LOGS.TIMESTAMP" | translate }}
        <span *ngIf="sortColumn === 'timestamp'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div class="column" (click)="sortByColumn('userId')">
        {{ "ADMIN.LOGS.USERID" | translate }}
        <span *ngIf="sortColumn === 'userId'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div class="column" (click)="sortByColumn('ipAddress')">
        {{ "ADMIN.LOGS.IP" | translate }}
        <span *ngIf="sortColumn === 'ipAddress'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div class="column" (click)="sortByColumn('userAgent')">
        {{ "ADMIN.LOGS.USERAGENT" | translate }}
        <span *ngIf="sortColumn === 'userAgent'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div class="column" (click)="sortByColumn('status')">
        {{ "ADMIN.LOGS.STATUS" | translate }}
        <span *ngIf="sortColumn === 'status'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
      <div class="column" (click)="sortByColumn('message')">
        {{ "ADMIN.LOGS.MESSAGE" | translate }}
        <span *ngIf="sortColumn === 'message'" class="sort-arrow">
          {{ sortDirection === "asc" ? "▼" : "▲" }}
        </span>
      </div>
    </div>
    <div class="table-body">
      <div class="table-row" *ngFor="let log of paginatedLogs">
        <div class="column">{{ log.id }}</div>
        <div class="column">
          {{ log.timestamp | date : "dd.MM.yyyy" }}
        </div>
        <div class="column">
          {{
            log.userId.length > 6 ? log.userId.slice(0, 6) + "..." : log.userId
          }}
        </div>
        <div class="column">{{ log.ipAddress }}</div>
        <div class="column">
          {{
            log.userAgent.length > 10
              ? log.userAgent.slice(0, 10) + "..."
              : log.userAgent
          }}
        </div>
        <div class="column">{{ log.status }}</div>
        <div class="column">
          {{
            log.message.length > 6
              ? log.message.slice(0, 6) + "..."
              : log.message
          }}
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">«</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      »
    </button>
  </div>
</div>
