<header class="app-header">
  <div class="logo-container">
    <a [routerLink]="['/']" class="gm-logo"></a>
  </div>

  <div class="auth-and-language">
    <div class="language-dropdown">
      <button class="lang-btn" (click)="toggleLanguageMenu()">
        <img src="assets/icons/languages.png" alt="Language" />
      </button>

      <ul *ngIf="showLanguageMenu" class="language-list">
        <li (click)="selectLanguage('en')">English</li>
        <li (click)="selectLanguage('fr')">Français</li>
        <li (click)="selectLanguage('de')">Deutsch</li>
        <li (click)="selectLanguage('ko')">한국어</li>
        <li (click)="selectLanguage('ua')">Українська</li>
        <li (click)="selectLanguage('ru')">Русский</li>
        <li (click)="selectLanguage('zh')">简中</li>
        <li (click)="selectLanguage('ja')">日本</li>
      </ul>
    </div>

    <div *ngIf="!isUserLoading; else loadingTemplate">
      <div *ngIf="userIsAuthenticated; else authButtons" class="user-info">
        <div class="user-menu">
          <div
            class="user-header"
            (click)="toggleUserMenu()"
            [class.active]="showUserMenu"
          >
            <img [src]="userAvatarUrl" alt="Avatar" class="user-avatar" />
            <span class="user-nickname">{{ userNickname }}</span>
          </div>

          <ul *ngIf="showUserMenu" class="user-menu-list">
            <li (click)="openUserSettings()">
              {{ "HEADER.LIST.SETTINGS" | translate }}
            </li>
            <li *ngIf="checkAdminAccess()" (click)="openAdminPanel()">
              {{ "HEADER.LIST.ADMIN" | translate }}
            </li>
            <li (click)="logout()">{{ "HEADER.LIST.LOGOUT" | translate }}</li>
          </ul>
        </div>
      </div>

      <ng-template #authButtons>
        <div class="auth-buttons" [class.highlight]="showAuthHighlight">
          <button class="login-btn" (click)="navigateToRegistration('login')">
            Log In
          </button>
          <button
            class="register-btn"
            (click)="navigateToRegistration('signup')"
          >
            Sign Up
          </button>
        </div>
      </ng-template>
    </div>

    <ng-template #loadingTemplate>
      <div class="custom-loader">
        <div class="circle delay2"></div>
        <div class="circle delay1"></div>
        <div class="circle"></div>
      </div>
    </ng-template>
  </div>
</header>
