@media screen and (min-width: 1921px) {
  .terms-container {
    padding: 75px 85px;

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 24px;
      line-height: 1.8;
    }
  }
}
