.home-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home-container > * {
  scroll-snap-align: start;
  height: 100vh;
}

.home-container::-webkit-scrollbar {
  display: none;
}
