<div class="home-container">
  <app-navbar></app-navbar>

  <section id="welcome" class="welcome-section">
    <app-welcome></app-welcome>
  </section>
  <section id="about" class="about-section">
    <app-about></app-about>
  </section>
  <section id="features" class="features-section">
    <app-features></app-features>
  </section>
  <section id="contact" class="contact-section">
    <app-contact></app-contact>
  </section>
  <section id="start" class="contact-section"><app-start></app-start>></section>
</div>
