<div class="settings-section">
  <div class="language-selection">
    <div #dropdown class="language-dropdown" (click)="toggleDropdown()">
      <div class="selected-lang">
        {{
          selectedLanguageName || "SETTINGS.DROPDOWN.LANG.SELECT" | translate
        }}
      </div>
      <div class="dropdown-icon">▼</div>
    </div>
    <div *ngIf="isDropdownOpen" class="language-options">
      <div
        class="language-option"
        *ngFor="let lang of languages"
        (click)="selectLanguage(lang)"
      >
        {{ lang.name }}
      </div>
    </div>
    <button class="save-button" (click)="saveLanguage()">
      {{ "SETTINGS.BUTTON.SAVE" | translate }}
    </button>
  </div>
</div>
