.register-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111;
  color: white;
  overflow: visible;

  h1 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 20;

    &::before,
    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      z-index: 10;
      background: #c444ff;
      box-shadow: 0 0 10px 2px #c444ff, 0 0 20px 4px rgba(174, 0, 255, 0.8);
    }

    &::before {
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      animation: first-line-animation 10s linear infinite;
    }

    &::after {
      top: 0;
      right: 0;
      width: 3px;
      height: 100%;
      animation: second-line-animation 10s linear infinite;
    }

    label {
      margin: 10px 0 5px;
    }

    input {
      padding: 8px;
      border: 1px solid #444;
      border-radius: 5px;
      margin-bottom: 10px;
      background-color: #222;
      color: white;
    }

    .feedback {
      margin-top: 5px;
      margin-bottom: 15px;
      color: #f1c40f;
      font-size: 0.95em;
      text-align: center;
    }

    .submit-btn {
      padding: 10px;
      background-color: #c444ff;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #9c33cc;
      }
    }

    .error-text {
      color: red;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .error-input {
      border: 1px solid red;
    }

    .password-container {
      position: relative;
      margin-bottom: 5px;

      input {
        width: 100%;
        box-sizing: border-box;
      }

      .password-hint {
        position: absolute;
        top: 0;
        left: calc(100% + 10px);
        background: #1e1e2f;
        color: #ffffff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        min-width: 250px;
        max-width: 400px;
        font-size: 12px;
        z-index: 10;
        text-align: left;
        transform: translateY(-5%);

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 5px;
            color: #cccccc;

            &.valid {
              color: #00c853;
            }

            &.unvalid {
              color: #c80000;
            }
          }
        }

        .arrow {
          position: absolute;
          top: 15%;
          left: -5px;
          width: 10px;
          height: 10px;
          background: #1e1e2f;
          transform: rotate(45deg);
        }
      }

      .password-strength {
        display: flex;
        gap: 4px;
        margin-top: 5px;
        margin-bottom: 20px;

        .strength-bar {
          flex: 1;
          height: 8px;
          background-color: #e0e0e0;

          &.red-bar {
            background-color: red;
          }

          &.orange-bar {
            background-color: orange;
          }

          &.green-bar {
            background-color: green;
          }
        }
      }
    }
  }

  .extra-options {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 15px;

    .login-btn,
    button {
      background: none;
      color: #c444ff;
      border: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.reg-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .reg-modal-content {
    background-color: #1e1e2f;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    h2 {
      color: #ffffff;
      font-size: 1.8rem;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
    }

    label {
      display: block;
      margin: 15px 0 5px;
      color: #cccccc;
      font-size: 1rem;
    }

    input {
      width: 100%;
      max-width: 400px;
      margin-top: 10px;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #555;
      border-radius: 8px;
      background-color: #2a2a3d;
      color: #ffffff;
      font-size: 1rem;
      transition: all 0.3s;

      &:focus {
        outline: none;
        border-color: #c444ff;
        background-color: #323248;
      }
    }

    .submit-btn,
    .close-btn {
      margin: 10px;
      padding: 12px 20px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
      transition: all 0.3s;
      border: none;

      &.submit-btn {
        background-color: #6c5ce7;
        color: #ffffff;

        &:hover {
          background-color: #574baf;
        }
      }

      &.close-btn {
        background-color: #d63031;
        color: #ffffff;

        &:hover {
          background-color: #b52329;
        }
      }
    }

    .error-text {
      color: red;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .error-input {
      border: 1px solid red;
    }

    .feedback {
      margin-top: 5px;
      margin-bottom: 15px;
      color: #f1c40f;
      font-size: 0.95em;
      text-align: center;
    }
  }
}

.recaptcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

@keyframes first-line-animation {
  0% {
    top: 0px;
    left: 0;
    width: 100%;
    height: 3px;
  }
  25% {
    top: 0px;
    left: 100%;
    width: 0;
    height: 3px;
  }
  26% {
    top: 100%;
    left: 100%;
    width: 0;
    height: 3px;
  }
  50% {
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
  }
  70% {
    top: 100%;
    left: 0%;
    width: 0;
    height: 3px;
  }
  71% {
    top: 0px;
    left: 0%;
    width: 0;
    height: 3px;
  }
  90% {
    top: 0px;
    left: 0;
    width: 100%;
    height: 3px;
  }
  100% {
    top: 0px;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

@keyframes second-line-animation {
  0% {
    top: 0px;
    right: 0;
    width: 3px;
    height: 100%;
  }
  25% {
    top: 0px;
    right: 0;
    width: 3px;
    height: 100%;
  }
  35% {
    top: 50%;
    left: auto;
    right: 0;
    width: 3px;
    height: 50%;
  }
  50% {
    top: 100%;
    left: auto;
    right: 0;
    width: 3px;
    height: 0%;
  }
  51% {
    top: 100%;
    left: 0;
    width: 3px;
    height: 0%;
  }
  65% {
    top: 50%;
    left: 0;
    width: 3px;
    height: 50%;
  }
  70% {
    top: 0px;
    left: 0;
    width: 3px;
    height: 100%;
  }
  85% {
    top: 0px;
    left: 0;
    right: auto;
    width: 3px;
    height: 0%;
  }
  86% {
    top: 0px;
    right: 0;
    left: auto;
    width: 3px;
    height: 0%;
  }
  90% {
    top: 0px;
    right: 0;
    left: auto;
    width: 3px;
    height: 0%;
  }
  100% {
    top: 0px;
    right: 0;
    width: 3px;
    height: 100%;
  }
}
