@media screen and (max-width: 1366px) {
  .register-container {
    h1 {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    form {
      padding: 15px;

      label{
        font-size: 0.8rem;
      }

      input {
        padding: 3px;
        border: 1px solid #444;
        border-radius: 3px;
        margin-bottom: 5px;
        background-color: #222;
        color: white;
      }

      .feedback {
        margin-top: 3px;
        margin-bottom: 10px;
      }

      .password-container {
        .password-strength {
          margin-top: 3px;
          margin-bottom: 15px;
        }
      }

      .terms-agreement {
        margin: 5px 0;

        span{
          line-height: 1.1;
          font-size: 12px;
        }
      }

      .remember-me-container {
        margin-bottom: 3px;
      }

      .submit-btn {
        padding: 8px 16px;
      }
    }
  }

  .recaptcha-container {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .reg-modal {
    .reg-modal-content {
      padding: 20px;

      input {
        padding: 10px;
      }

      .submit-btn,
      .close-btn {
        padding: 10px 16px;
        font-size: 0.95rem;
      }
    }
  }

  .code-input-overlay {
    .code-input-window {
      padding: 30px 40px;
    }
  }
}
