<div class="settings-container">
  <div class="unauthorized-message" *ngIf="!(isAuthorized | async)">
    {{ "SETTINGS.UNAUTHORIZED_MESSAGE" | translate }}
  </div>
  <div
    class="unauthorized-message"
    *ngIf="(isAuthorized | async) && !(isServerAvailable | async)"
  >
    {{ "SETTINGS.SERVER_UNAVAILABLE" | translate }}
  </div>
  <div
    class="settings-content"
    [class.unauthorized]="
      !(isAuthorized | async) || !(isServerAvailable | async)
    "
  >
    <div class="settings-sidebar" [class.open]="menuOpen">
      <div class="settings-tabs">
        <button
          [class.active]="selectedSection === 'user'"
          (click)="showSettingsSection('user')"
        >
          {{ "SETTINGS.BUTTON.USER_SETTINGS" | translate }}
        </button>
        <button
          [class.active]="selectedSection === 'settings'"
          (click)="showSettingsSection('settings')"
        >
          {{ "SETTINGS.BUTTON.APP_SETTINGS" | translate }}
        </button>
        <button
          [class.active]="selectedSection === 'security'"
          (click)="showSettingsSection('security')"
        >
          {{ "SETTINGS.BUTTON.SECURITY" | translate }}
        </button>
        <button
          [class.active]="selectedSection === 'devices'"
          (click)="showSettingsSection('devices')"
        >
          {{ "SETTINGS.BUTTON.DEVICEINFO" | translate }}
        </button>
      </div>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <h2 class="settings-title">{{ "SETTINGS.TITLE" | translate }}</h2>

    <div *ngIf="selectedSection === 'user'">
      <app-user-settings></app-user-settings>
    </div>

    <div *ngIf="selectedSection === 'settings'">
      <app-settings-app></app-settings-app>
    </div>

    <div *ngIf="selectedSection === 'security'">
      <app-security-settings></app-security-settings>
    </div>

    <div *ngIf="selectedSection === 'devices'">
      <app-devices-settings></app-devices-settings>
    </div>
  </div>
</div>
