<div class="settings-container">
  <div class="unauthorized-message" *ngIf="!isAuthorized">
    {{ "SETTINGS.UNAUTHORIZED_MESSAGE" | translate }}
  </div>
  <div class="settings-content" [class.unauthorized]="!isAuthorized">
    <div class="settings-sidebar" [class.open]="menuOpen">
      <div class="settings-tabs">
        <button [class.active]="isSettingsActive" (click)="showSettings()">
          {{ "SETTINGS.BUTTON.SETTINGS" | translate }}
        </button>
        <button [class.active]="!isSettingsActive" (click)="showDevices()">
          {{ "SETTINGS.BUTTON.DEVICEINFO" | translate }}
        </button>
      </div>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <h2 class="settings-title">{{ "SETTINGS.TITLE" | translate }}</h2>

    <div *ngIf="isSettingsActive">
      <div class="user-info">
        <img
          [src]="userAvatarUrl || '../../assets/icons/default-avatar.png'"
          alt="User Avatar"
          class="user-avatar"
        />
        <h3>{{ userNickname }}</h3>
      </div>

      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="settingsForm"
        class="settings-form"
      >
        <div class="form-group">
          <label for="nickname">{{
            "SETTINGS.FORM.NICKNAME" | translate
          }}</label>
          <input
            id="nickname"
            formControlName="nickname"
            type="text"
            class="form-control"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="email">{{ "SETTINGS.FORM.EMAIL" | translate }}</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="currentPassword">{{
            "SETTINGS.FORM.CURRENTPASSWORD" | translate
          }}</label>
          <input
            id="currentPassword"
            formControlName="currentPassword"
            type="password"
            class="form-control"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="current-password"
          />
        </div>

        <div class="form-group">
          <label for="newPassword">{{
            "SETTINGS.FORM.NEWPASSWORD" | translate
          }}</label>
          <input
            id="newPassword"
            formControlName="newPassword"
            type="password"
            class="form-control"
            autocomplete="new-password"
          />
        </div>

        <div class="form-group">
          <label for="confirmNewPassword">{{
            "SETTINGS.FORM.CONFIRMNEWPASSWORD" | translate
          }}</label>
          <input
            id="confirmNewPassword"
            formControlName="confirmNewPassword"
            type="password"
            class="form-control"
            autocomplete="new-password"
          />
        </div>

        <button
          type="submit"
          [disabled]="!settingsForm.valid"
          class="btn-submit"
        >
          Save Changes
        </button>
      </form>
    </div>

    <div *ngIf="!isSettingsActive">
      <div class="devices-section">
        <h3>{{ "SETTINGS.DEVICES.TITLE" | translate }}</h3>
        <ul *ngIf="devices?.length">
          <li *ngFor="let device of devices" class="device-item">
            <div class="device-info">
              <span class="authorization-date">{{
                device.authorizationDate | date : "d MMM yyyy, h:mm a"
              }}</span>
              <span class="device-details"
                ><strong>IP:</strong> {{ device.ipAddress }} -
                <strong>Platform:</strong> {{ device.platform }} -
                <strong>User-Agent:</strong> {{ device.userAgent }}</span
              >
            </div>
            <button class="delete-button" (click)="deactivateDevice(device)">
              <i class="fa fa-ban"></i>
              {{ "SETTINGS.DEVICES.REMOVE" | translate }}
            </button>
          </li>
        </ul>
        <p *ngIf="!devices?.length">
          {{ "SETTINGS.DEVICES.ERROR.NOTFOUND" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
